#
.idea/
__pycache__/*
*/__pycache__

# Environments
.env
.flaskenv

##log
*.log

#file
*_bak/*
*_bak
*bak
#
file/ansible_cmdb_file/nodefile/**
file/ansible_cmdb_file/hosts.sql
sl_api/templates/host.html





