[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flasgger = "*"
flask-restful = "*"
shortuuid = "*"
aliyun-python-sdk-core = "*"
aliyun-python-sdk-ecs = "*"
aliyun-python-sdk-rds = "*"
flask-sqlalchemy = "*"
mysql-connector-python-rf = "*"
ipython = "*"
pymysql = "*"
flask-peewee = "*"
flask-script = "*"
flask-migrate = "*"
flask-blueprint = "*"
flask-caching = "*"
ansible-cmdb = "*"
pipenv = "*"
python-gitlab = "*"
flask-socketio = "*"
watchdog = "*"
celery = "*"
redis = "*"
flower = "*"
celery-once = "*"
ansible = "==2.7"
gunicorn = "*"
autoenv = "*"

[requires]
python_version = "3.6"
